/* Parent style sheet */

html, body {
    margin: 0;
    background-image: url("../images/concrete-texture.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    background-color: #4aaaa5;
    width: 300px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    float: left;
    height: 50px;
}

.wrapper {
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -50px;
}

.mainContent {
    width: 600px;
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 20px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.aside {
    width: 270px;
    height: 150px;
    background-color: #ffffff;
    border-color: #dddddd;
    margin-top: 20px;
    float: left;
    text-align: center;
}

.image-contact {
    width: 50px;
    height: 50px;
    padding: 10px 5px;
    border: 0;
}

.image-portfolio {
    width: 250px;
    height: 200px;
    float: left;
    padding: 20px 25px;
}

#linkedin {
    width: 60px;
    height: 60px;
}

.footer, push {
    background-color: #666666;
    border-top: #4aaaa5 8px solid;
    padding: 20px;
    text-align: center;
    color: #dadada;
    height: 50px;
}

.content-text {
    float: left;
    padding: 15px 10px 0px 5px;
}

p {
    line-height: 1.5;
    padding: 15px;
}

h1 {
    color:#4aaaa5;
    padding: 10px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}

h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 20px 15px 10px 0px;
    font-size: 20px;
    text-align: center;
}

 a {
    text-decoration: none;
} 

hr {
    border:none;
    height:3px;
    background-color: #dddddd;
    width: 580px;
}

hr.contact {
    border:none;
    height:2px;
    background-color: #dddddd;
    width: 185px;
}

label {
    color: #777777;
}

.input {
    width: 580px;
    padding-bottom: 15px;
}

input {
    padding: 6px 3px;
    border: 1px solid #d1d0d0;
    color: #777777;
    width: 580px;
}

#submitBtn {
    width: 90px;
    height: 40px;
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
}

textarea {
    width: 580px;
    height: 200px;
    border: 1px solid #d1d0d0;;
}

form {
    padding: 10px 10px;
}